@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PPAW</h1>

    <p>
        <a asp-controller="Users" asp-action="Index" class="btn btn-primary">Users</a>
    </p>
    <p>
        <a asp-controller="Subscriptions" asp-action="Index" class="btn btn-primary">Subscriptions</a>
    </p>
</div>
